<body class="food_background">
<title>UFO Homepage</title>

<!-- <div id="welcome">
  Welcome to the UFO sightings homepage. Here you can post and discuss UFO sightings over the years.
</div> -->

<% @foods.each do |food| %>
  <div id="content">
    <h3 ><a class='heading' id='title<%= food.id %>'href="/ufo/<%= food.id %>"><%= food.title %></a></h3>
    <p><%= food.body %></p>
    <img class='images' src="<%= food.image%>" alt="">
  </div>

<% end %>

</body>
