<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body class="food_background">

    <div id="content">
    <h1 id="title"><%= @food.title %></h1>
    <p id='body'><%= @food.body %></p>
    <img src="<%= @food.image %>" alt="">
    </div>
    <button id="edit" type="button" name="button"><a href='/ufo/<%= @food.id %>/edit'>Edit</a></button>

    <form action=" /ufo/<%= @food.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input id="delete" type="submit" name="name" value="Delete X">
    </form>
  </body>
</html>
